[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "lib/titan_canmore"]
	path = lib/titan_canmore
	url = https://github.com/osu-uwrt/titan_canmore
